<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Widok user</div>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Credits</th>
                <th>Address id</th>
            </tr>
        </table>
        <script src="../js/jquery-3.1.1.min.js"></script>
        <script src="../js/user_view.js"></script>  
    </body>
</html>
